.forgot-password-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f5f7;
}

.forgot-password-form-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.forgot-password-form-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.forgot-password-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #363739;
    border-radius: 4px;
    font-size: 16px;
}

.forgot-password-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #0052cc;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.forgot-password-form button:hover {
    background-color: #0747a6;
}

.forgot-password-form .additional-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.forgot-password-form a {
    color: #0052cc;
    text-decoration: none;
    font-size: 14px;
}

.forgot-password-form a:hover {
    text-decoration: underline;
}

.separator {
    margin: 0 10px;
    color: #282829;
    font-size: 14px;
}

.forgot-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forgot-password-form input {
    margin-bottom: 15px;
}

.forgot-password-form button {
    margin-top: 10px;
}