.dashboard {
  padding: 20px;
  background-color: #f8f9fc;
}

.overview {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.page-title {
  display: flex;
  justify-content: space-between;
}

.main-page .page-title h1 {
  font-size: 28px;
  font-weight: bold;
  color: #663300;
  margin-bottom: 3px;
  margin-top: 19px;
  text-align: left;
}

.title-with-sub {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title-with-sub p {
  color: #b38282;
  margin: 8px 0 40px 0;
  font-size: 16px;
}


@media (max-width: 1024px) {
  .overview {
    flex-wrap: wrap;
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .overview {
    flex-direction: column;
    gap: 20px;
  }

  .overview-card {
    width: 90%;
  }
}
