.main-page {
  /* display: flex;
  flex-direction: column;
  height: 100%; */
  position: relative;
  z-index: 0;
  height: 100%;
}

.main-page-dark {
  background-color: rgb(29, 33, 37);
}

.main-page-bright {
  background-color: rgb(244, 245, 247) !important;
}

.main-page .first-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgb(29, 33, 37);
}
