.header {
  display: flex;
  box-sizing: border-box;
  max-height: 48px;
  padding: 8px;
  overflow: hidden;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  backdrop-filter: blur(6px);
  background-color: rgb(29, 33, 37);
}

.header-container {
  max-height: 48px;
  min-height: 48px;
  overflow: hidden;
}

.A-0 {
  outline: rgb(87, 157, 255) none 0px;
  text-decoration: none solid rgb(87, 157, 255);
  color: rgb(87, 157, 255);
  display: block;
  flex-shrink: 0;
  height: 32px;
  position: relative;
  border-radius: 3px;
  padding: 0px 8px;
  background-color: rgba(0, 0, 0, 0);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

}

.DIV-0 {
  text-decoration-color: rgb(87, 157, 255);
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  color: rgb(87, 157, 255);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 4px;
}

.DIV-1 {
  opacity: 1;
  filter: brightness(0) saturate(1) invert(0.66) sepia(0.2) saturate(2.25) hue-rotate(170deg) brightness(1.01) contrast(0.85);
  height: 20px;
  padding: 8px 0px;
  width: 100px;
  position: relative;
  text-decoration-color: rgb(87, 157, 255);
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  color: rgb(87, 157, 255);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  background-image: url(https://trello.com/assets/d947df93bc055849898e.gif);
  background-size: cover;
  position: relative;
}

.DIV-1::after {
  content: '';
  display: none;
  width: 100%;
  height: 100%;
  background-image: url(https://trello.com/assets/87e1af770a49ce8e84e3.gif); /* Path to the animated GIF */
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8; /* Adjust the opacity as needed */
}

.DIV-1:hover::after {
  display: block;
  background-color: rgba(0, 0, 0, 0.2); /* Background with small opacity */
}

/* other buttons */

.nav-buttons {
  display: flex;
  flex-basis: 100%;
}

.nav-buttons-responsive {
  display: flex;
  position: relative;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 0;
  align-items: stretch;
  height: 100%;
}

.nav-buttons-responsive > * {
  display: flex;
  flex-shrink: 0;
  margin: 0 4px;
}

.nav-each-buttons {
  display: block;
  font-weight: 500;
}

.nav-button {
  height: 32px;
  margin-right: 4px;
  padding-right: 10px;
  line-height: 32px;
  white-space: nowrap;
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  transition-duration: 300ms;
  transition-timing-function: ease;
  border: none;
  color: #9FADBC;
}

.nav-button:hover {
  background-color: #A6C5E229;
  border-radius: 5px;
}

.nav-button-icon {
  margin-top: 10px;
  margin-left: 4px;
}

.nav-filled-buttons {
  display: flex;
  flex-shrink: 0;
  margin: 0px 4px;
}

.nav-filled-button {
  color: rgb(29, 33, 37);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: 0;
  border-radius: 3px;
  box-sizing: border-box;
  box-shadow: none;
  background: none 0% 0% / auto repeat scroll padding-box border-box rgb(87, 157, 255);
  white-space: nowrap;
  transition-duration: 0.085s;
  transition-property: background-color, border-color, box-shadow;
  transition-timing-function: ease;
  outline: rgb(29, 33, 37) none 0px;
  height: 32px;
}

.nav-filled-button:hover {
  background-color: #85b8ff;
}

/* Dropdown menu */
.account-button {
  position: relative;
  cursor: pointer;
}

.account-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.tooltip-account {
  display: none;
  width: 80px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: fixed;
  top: 44px; /* Position the tooltip above the button */
  left: auto;
  right: 4px;
  opacity: 0;
  transition: opacity 0.3s;
  cursor: none;
  z-index: 20;
}

.tooltip-account.visible {
  display: block;
  opacity: 1;
}

.dropdown-menu {
  display: none;
  position: fixed;
  top: 48px;
  right: 3px;
  left: auto;
  width: 304px;
  background-color: #282E33;
  border-radius: 8px;
  outline: 0;
  padding: 10px;
  color: #b6c2cf;
  box-shadow: 0px 0px 0px 1px #39424a, 0px 8px 12px #0304045C, 0px 0px 1px 1px #03040480;
}

.dropdown-menu.active {
  display: block;
}

.dropdown-field {
  margin-bottom: 10px;
}

.dropdown-field h2 {
  margin: 0 0 10px 0;
  font-size: 12px;
  font-weight: bold;
  color: #626f86;
  text-transform: uppercase;
}

.account-info {
  display: flex;
  align-items: center;
}

.account-details {
  margin-left: 10px;
}

.account-details .fullname {
  display: block;
  font-weight: bold;
}

.account-details .email {
  display: block;
  color: #666;
}

.dropdown-field nav {
  display: flex;
  flex-direction: column;
}

.dropdown-field nav a,
.dropdown-field button {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #b6c2cf;
  cursor: pointer;
  border: none;
  background: none;
  text-align: left;
}

.dropdown-field nav a:hover,
.dropdown-field button:hover {
  background-color: #a6c5e229;
  border-radius: 5px;
}

.dropdown-menu li {
  list-style: none;
  border-top: 1px solid #a6c5e229;
  margin: 10px 0;
}
